
* {
    box-sizing: border-box;
  }
  
   
  body {
    display: flex;
    background-color: #f7e9c7;
  }

p {
  font-size: 28px;
}

.border {
  border-width: 2px;
  border-radius: 5px;
}

.red {
  border-color: red;
  border-width: 5px;
}